html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

tbody tr {
    cursor: pointer;
}

select {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: solid thin silver;
    border-radius: 5px;
    font-size: 14px;
}

.isr-label {
    width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: smaller;
}


.isr-text {
    width: 100%;
    height: 27px;
    padding: 5px;
    border: solid thin silver;
    border-radius: 5px;
    font-size: 14px;
}

.isr-bt {
    border-radius: 3px;
    border: none;
    height: 27px;
    width: 27px;
    background-color: gainsboro;
    margin-right: 3px;
}

    .isr-bt:hover {
        background-color: orange;
    }

.modalcontent {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
}

.isr-table {
    width: 100%;
    border:thin solid silver;
    margin-top:-1px
}
    .isr-table th {
        height: 30px;
        padding: 0px 5px 0px 5px;
        border: thin solid #D6DBDF;
        background-color: silver;
        text-align: center;
        font-weight: normal;
        white-space: nowrap;
        position:sticky;
        top:0;
    }
    .isr-table td {
        font-size: small;
        height: 22px;
        padding: 2px 5px 2px 5px;
        border: thin solid #EAECEE;
        background-color: white;
        vertical-align: text-top;
        font-weight: normal;
    }
    .isr-table tbody tr.selected td {
        font-style: italic;
        color: blue;
    }
    .isr-table tbody tr {
        background-color: white;
    }
    .isr-table tbody tr:hover td {
        background-color: lightgoldenrodyellow;
    }
.btn.btn-secondary.buttons-print {
    border-radius: 3px;
    padding:2px;
    border: none;
    height: 27px;
    width: 27px;
    max-width: 27px;
    background-color: gainsboro;
    margin-right: 4px;
    color: black;
}

    .btn.btn-secondary.buttons-print:hover {
        background-color: orange;
    }

.btn.btn-secondary.buttons-copy.buttons-html5 {
    border-radius: 3px;
    padding:2px;
    border: none;
    height: 27px;
    width: 27px;
    max-width: 27px;
    background-color: gainsboro;
    margin-right: 0px;
    color: black;
}

    .btn.btn-secondary.buttons-copy.buttons-html5:hover {
        background-color: orange;
    }

.btn.btn-secondary.buttons-excel.buttons-html5 {
    border-radius: 3px;
    padding: 2px;
    border: none;
    height: 27px;
    width: 27px;
    max-width: 27px;
    background-color: gainsboro;
    color:green;
    margin-right: 4px;
    color: black;
}

    .btn.btn-secondary.buttons-excel.buttons-html5:hover {
        background-color: orange;
    }
.nwrap {
    white-space: nowrap;
}
